.ingredients {
  display: flex;
  max-width: 1920px;
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 1015px;
  overflow: hidden;
  position: relative;
  margin-top: 150px;
  margin-bottom: 20px;
  z-index: 0;
}
@media screen and (max-width: 1024px) {
  .ingredients {
    margin-top: 75px;
  }
}

@media screen and (max-width: 900px) {
  .ingredients {
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .ingredients {
    margin-top: 30px;
  }
}

.ingredients > img {
  position: absolute;
  z-index: 1;
}

.ingredients__block {
  width: 1246px;
  margin-left: auto;
  margin: 125px 200px 300px auto;
  z-index: 2;
}

@media screen and (max-width: 1500px) {
  .ingredients__block {
    width: 95%;
    margin: 125px auto 50px auto;
  }
}

@media screen and (max-width: 768px) {
  .ingredients__block {
    margin: 90px auto 50px auto;
  }
}

.block__description {
  width: 640px;
  margin-left: 505px;
}

@media screen and (max-width: 1250px) {
  .block__description {
    margin: 0 auto;
  }
}

@media screen and (max-width: 650px) {
  .block__description {
    width: 95%;
  }
}

.block__description > h3 {
  font-size: 39px;
  font-family: "Museo Sans Cyrl", sans-serif;
  font-weight: 700;
  color: rgb(56, 78, 31);
  line-height: 1.2;
}

.block__description > h4 {
  font-size: 25px;
  font-family: "Commissioner";
  font-weight: 500;
  color: rgb(51, 51, 51);
  line-height: 1.24;
  margin-top: 25px;
}

@media screen and (max-width: 900px) {
  .block__description > h3 {
    font-size: 29px;
    line-height: 1;
  }
  .block__description > h4 {
    font-size: 20px;
    line-height: 1;
  }
}

.block__cards {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  .block__cards {
    width: 860px;
    margin: 20px auto 0 auto;
  }
}

@media screen and (max-width: 900px) {
  .block__cards {
    width: 600px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 640px) {
  .block__cards {
    width: 300px;
  }
}

.block__card {
  border-width: 1px;
  border-color: rgb(255, 228, 49);
  border-style: solid;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  width: 382px;
  height: 374px;
  padding: 20px 30px 0px 35px;
  margin: 10px;
}

@media screen and (max-width: 1250px) {
  .block__card {
    width: 280px;
    height: 320px;
    padding: 10px;
  }
}

.block__card > img {
  height: 147px;
}

.block__card > h3 {
  font-size: 20px;
  font-family: "Commissioner";
  color: rgb(51, 51, 51);
  font-weight: 700;
  line-height: 1.55;
}

.block__card > h4 {
  font-size: 18px;
  font-family: "Commissioner";
  color: rgb(51, 51, 51);
  font-weight: 400;
  line-height: 1.4;
  margin-top: 15px;
}

@media screen and (max-width: 1250px) {
  .block__card > h3 {
    font-size: 18px;
    line-height: 1;
  }
  .block__card > h4 {
    font-size: 14px;
  }
}

.ingredients__consultation {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 50px;
  max-width: 640px;
}

@media screen and (max-width: 1024px) {
  .ingredients__consultation {
    margin-top: 20px;
  }
}

@media screen and (max-width: 680px) {
  .ingredients__consultation {
    margin-right: 0;
  }
}

.ingredients__consultation > p {
  font-size: 18px;
  font-family: "Commissioner";
  color: rgb(0, 0, 0);
  line-height: 1.389;
  margin-right: 73px;
}

@media screen and (max-width: 425px) {
  .ingredients__consultation > p {
    font-size: 16px;
    line-height: 1;
    margin-right: 25px;
  }
}

.consultation__telegram {
  width: 62px;
  height: 62px;
  cursor: pointer;
}

.consultation__arrow {
  position: absolute;
  left: 180px;
  bottom: -35px;
  transform: rotate(9deg);
}

.ingredients__leaf {
  top: 220px;
  right: 0;
}

.ingredients__oil {
  top: 110px;
  left: 0;
}

@media screen and (max-width: 1100px) {
  .ingredients__oil {
    top: 200px;
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .ingredients__leaf {
    width: 70px;
  }
  .ingredients__oil {
    top: 230px;
  }
}

@media screen and (max-width: 600px) {
  .ingredients__leaf {
    top: 150px;
  }
  .ingredients__oil {
    top: 320px;
  }
}
