.main {
  max-width: 1920px;
  background-image: url(../images/back.png);
  background-repeat: no-repeat;
  background-position: 100% -70px;
  height: 840px;
  overflow: hidden;
  position: relative;
  background-color: #fafdeb;
}

@media screen and (max-width: 1700px) {
  .main {
    height: 1400px;
  }
}

@media screen and (max-width: 767px) {
  .main {
    height: 1050px;
  }
}

.main__images {
  max-width: 1096px;
  background-image: url(../images/Shape.png);
  background-repeat: no-repeat;
  background-position: 0% -70px;
  height: 835px;
  position: relative;
}

.main__leaf {
  position: absolute;
  top: -20px;
  left: 0;
}

.main__leaf2 {
  position: absolute;
  top: 50px;
  right: -20px;
}

@media screen and (max-width: 1000px) {
  .main__leaf {
    display: none;
  }

  .main__leaf2 {
    display: none;
  }
}

.main__leaf5 {
  position: absolute;
  bottom: 190px;
  right: -20px;
}

.main__headline {
  width: 535px;
  padding-top: 95px;
  margin-left: 210px;
}

@media screen and (max-width: 1024px) {
  .main__headline {
    margin: 0 auto;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .main__headline {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  .main__headline {
    width: 95%;
  }
}

.main__headline > h1 {
  font-size: 56px;
  font-family: "Museo Sans Cyrl", sans-serif;
  color: rgb(56, 77, 30);
  line-height: 1.071;
}

.main__headline > h3 {
  margin-top: 47px;
  font-size: 32px;
  line-height: 1.281;
}

@media screen and (max-width: 600px) {
  .main__headline > h1 {
    font-size: 30px;
  }

  .main__headline > h3 {
    font-size: 26px;
  }
}

.main__block {
  position: relative;
  margin-top: 70px;
}

@media screen and (max-width: 1024px) {
  .main__block {
    margin-top: 30px;
  }
}

.main__block > img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: -25px;
}

@media screen and (max-width: 1024px) {
  .main__block > img {
    bottom: -90px;
  }
}

.main__order {
  background-color: rgb(184, 212, 39);
  width: 95px;
  height: 71px;
  border-radius: 40px;
  font-size: 18px;
  font-family: "Commissioner";
  line-height: 1.2;
  padding-left: 25px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .main__order {
    margin: 0 auto;
    padding-left: 0px;
  }
}

.order__block {
  position: absolute;
  width: 525px;
  top: 20px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .order__block {
    flex-direction: column;
    width: 200px;
    left: -60px;
  }
}

.order__block::before {
  content: "";
  background-image: url(../images/arrow_btn.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.order__block > a {
  font-family: "Commissioner";
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1.786;
  text-decoration: none;
}

.order__block > span {
  font-family: "Commissioner";
  font-size: 14px;
  line-height: 1.786;
  color: rgb(51, 51, 51);
  margin-left: 40px;
}

.main__right {
  position: absolute;
  width: 570px;
  top: 0;
  right: 100px;
}

.main__right > img {
  position: absolute;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .main__right > img {
    width: 70%;
  }
}

.bottle {
  top: 170px;
  left: -240px;
}

.bottle1 {
  top: 220px;
  right: -20px;
}

@media screen and (max-width: 1900px) {
  .main__right {
    right: 0px;
  }
}

@media screen and (max-width: 1700px) {
  .main__right {
    top: 550px;
  }
}

@media screen and (max-width: 767px) {
  .main__right {
    width: 280px;
  }

  .bottle {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .bottle1 {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

.ring {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(205, 1, 4);
  width: 222px;
  height: 222px;
  right: 300px;
  top: 510px;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .ring {
    width: 150px;
    height: 150px;
    right: 10px;
    top: 300px;
  }
}

.ring > h4 {
  font-size: 18px;
  font-family: "Commissioner";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.556;
  text-align: center;
  margin-top: 50px;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  .ring > h4 {
    margin-top: 15px;
  }
}

.ring > h4 > span {
  font-weight: 900;
}

.ring > h4 > b {
  position: relative;
}

.ring > h4 > b:before {
  content: "";
  width: 70px;
  height: 2px;
  background: white;
  position: absolute;
  top: 55%;
  left: 0;
}

.main__leaf3 {
  position: absolute;
  top: 200px;
  right: 60px;
}

@media screen and (max-width: 767px) {
  .main__leaf3 {
    width: 50%;
    top: 120px;
    right: 30px;
  }
}

.figure {
  width: 100px;
  height: 188px;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 20px;
  transform: rotate(-90deg);
}

.figure-color1 {
  background: rgb(239, 240, 145);
}

.figure-color1:before {
  border-right: 26px solid rgb(239, 240, 145);
}
.figure-color2 {
  background: rgb(254, 186, 162);
}

.figure-color2:before {
  border-right: 26px solid rgb(254, 186, 162);
}

.figure:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  margin-top: 35px;
}

.figure-text {
  transform: rotate(90deg);
  width: 110px;
  font-size: 16px;
  font-family: "Commissioner";
  color: rgb(51, 51, 51);
  line-height: 1.313;
  text-align: center;
  margin-top: 60px;
}

.figure-text > strong {
  margin-top: 10px;
}

.figure-position1 {
  position: absolute;
  top: 20px;
  left: -30px;
}

.figure-position2 {
  position: absolute;
  top: 65px;
  right: 170px;
}

@media screen and (max-width: 767px) {
  .figure {
    width: 90px;
    height: 140px;
  }

  .figure:before {
    margin-top: 15px;
  }
  .figure-text {
    margin-top: 35px;
  }

  .figure-position1 {
    position: absolute;
    top: 40px;
    left: 120px;
  }

  .figure-position2 {
    position: absolute;
    top: 90px;
    right: 180px;
  }
}
