@import "./header.css";
@import "./main.css";
@import "./video.css";
@import "./ingredients.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
  background-color: #fafdeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

.CommissionerFont {
  font-family: "Commissioner";
  color: rgb(51, 51, 51);
}

.MyriadProFont {
  font-family: "Myriad Pro";
  color: rgb(0, 0, 0);
}

.background__section {
  position: relative;
  height: 260px;
}

@media screen and (max-width: 1024px) {
  .background__section {
    height: 100px;
  }
}

.background__section > img {
  position: absolute;
}

.ingredients__apple {
  bottom: 35px;
  right: 0px;
}

@media screen and (max-width: 425px) {
  .ingredients__apple {
    width: 60px;
  }
}

.ingredients__leafs {
  bottom: 0px;
  left: 150px;
}

@media screen and (max-width: 768px) {
  .ingredients__leafs {
    width: 160px;
    left: 100px;
  }
}
